@font-face {
  font-family: Bangers;
  src: url("/fonts/Bangers.ttf");
}

@font-face {
  font-family: Mogra;
  src: url("/fonts/Mogra.ttf");
}

@font-face {
  font-family: Teko;
  src: url("/fonts/Teko.ttf");
}
.mainHeaderDiv {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 55vw;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 10;
}

.airplaneImage {
  height: 6vh;
}

.logoDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-left: -8vw;
}

.mainHeaderText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2rem;
  color: white;
}

.logoHeaderDiv {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.mainHeaderParagraph {
  font-size: 1rem;
  font-family: Mogra;
  margin-top: -2vh;
  margin-left: 2vw;
  color: rgb(153, 0, 0);
}

.destinationsDiv {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  margin-left: -4vw;
}

.destinationHeader {
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 2vh;
  padding-top: 2vh;
  text-decoration: underline;
  color: rgb(179, 179, 179);
  border-radius: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.destinationHeader:hover {
  cursor: pointer;
  background-color: rgb(100, 100, 100);
  scale: 1.1;
}

.shoppingCartDiv {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  width: 9vw;
  justify-content: right;
  align-items: center;
}

.homeBtn {
  font-size: 1.2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2vh;
  color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.homeBtn:hover {
  background-color: rgb(100, 100, 100);
  cursor: pointer;
}

.shoppingImg {
  height: 4vh;
}

.shoppingImg:hover {
  cursor: pointer;
  scale: 1.3;
}

.imageContainer {
  height: 100vh;
  width: 99vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(145, 145, 145);
}

.descriptionDiv {
  position: absolute;
  top: 25vh;
  left: 36vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descriptionHeader {
  color: white;
  animation: slideUp 4s ease-out infinite;
}

.descriptionParagraph {
  color: white;
  margin-top: -2vh;
  animation: slideUp 4s ease-out infinite;
  font-family: Mogra;
}
.homePageImg {
  height: 100vh;
}

.bookNowBtn {
  color: rgb(0, 0, 105);
  border: 1px solid rgb(0, 0, 105);
  animation: slideUp 4s ease-out infinite;
}

@keyframes slideUp {
  0% {
    transform: translateY(100px); /* Start from 100px below */
    opacity: 0; /* Initially hidden */
  }
  50% {
    transform: translateY(0); /* Move to normal position */
    opacity: 1; /* Fully visible */
  }
  100% {
    transform: translateY(0); /* Move back down to start position */
    opacity: 1; /* Fade out */
  }
}

.element {
  animation: slideUp 4s ease-out infinite; /* Repeat every 4 seconds */
}

.listOfDestinationsDiv {
  position: fixed;
  left: 0;
  top: 10vh;
  height: 90vh;
  border-right: 1px solid rgb(131, 131, 131);
  width: 12vw;
  display: flex;
  flex-direction: column;
  gap: 4.2vh;
  margin-top: 1vh;
}

.countryNames {
  font-size: 1.3rem;
  font-family: Mogra;
  margin-top: 2vh;
}

.countryDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  background-color: rgb(236, 236, 236);
}

.countryDiv:hover {
  background-color: beige;
  cursor: pointer;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.countryImg {
  height: 4vh;
  margin-left: 1vw;
}

.listHeader {
  position: absolute;
  top: 12vh;
  left: 16vw;
  font-size: 1.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shoppingListDiv {
  position: absolute;
  top: 20vh;
  left: 16vw;
  height: 110vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5vw;
  flex-wrap: wrap;
}

.greeceDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.greeceDestination:hover {
  transform: scale(1.2);
}

.italyCapitalDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.italyCapitalDestination:hover {
  transform: scale(1.2);
}

.capitalDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.capitalDestination:hover {
  transform: scale(1.2);
}

.italyDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.italyDestination:hover {
  transform: scale(1.2);
}

.spainDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.spainDestination:hover {
  transform: scale(1.2);
}

.montenegroDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.montenegroDestination:hover {
  transform: scale(1.2);
}

.turkeyCapitalDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.turkeyCapitalDestination:hover {
  transform: scale(1.2);
}

.turkeyDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.turkeyDestination:hover {
  transform: scale(1.2);
}

.egyptDestination {
  display: flex;
  flex-direction: column;
  width: 16vw;
  height: 48vh;
  border-radius: 1vh;
  background-color: white ;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.egyptDestination:hover {
  transform: scale(1.2);
}

.destinationName {
  font-family: Teko;
  font-size: 1.8rem;
  color: black;
  margin-left: 1vw;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.55);
  border-bottom: 1px solid rgb(151, 151, 151);
  width: 80%;
}

.greekImg {
 height: 22vh;
 width: 16vw;
}

.descriptionDestination {
  font-size: 1.2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainDescriptionDiv {
  height: 4vh;
  width: 99%;
  margin-top: -2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4.1vw;
}

.calenderDiv {
  width: 30%;
  height: 4vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.transportDiv {
  width: 30%;
  height: 4vh;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.calendarIcon {
  height: 2vh;
}

.transportIcon {
  height: 3vh;
}

.transportIconAirplane {
  height: 2vh;
  margin-right: -0.3vw;
  margin-bottom: 0.4vh;
}

.numberOfDays {
  font-family: Mogra;
  font-size: 0.9rem;
  margin-top: 1.2vh;
}

.transportName {
  font-family: Mogra;
  font-size: 0.9rem;
  margin-top: 1.2vh;
}

.signDiv {
  position: absolute;
  height: 3vh;
  width: 4vw;
  top: 18vh;
  margin-left: 0.7vw;
  border-radius: 1vh;
  display: flex;
  flex-direction: row;
  background-color: rgb(51, 163, 255);
  align-items: center;
  gap: 0.3vw;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.signDivSecond {
    position: absolute;
    height: 3vh;
    width: 4vw;
    top: 18vh;
    margin-left: 5vw;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 163, 255);
    align-items: center;
    gap: 0.3vw;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .signDivSecondDown {
    position: relative;
    height: 3vh;
    width: 4vw;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 163, 255);
    align-items: center;
    gap: 0.3vw;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 10;
    transform-origin: center center;
    transform: scale(0.833);
  }

  .signDivDown {
    position: relative;
    height: 3vh;
    width: 4vw;
    border-radius: 1vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(51, 163, 255);
    align-items: center;
    gap: 0.3vw;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .mainDownDiv {
    display: flex;
    flex-direction: row;
    margin-top: -4.5vh;
    margin-left: 0.5vw;
  }


.signIcon {
  height: 2vh;
}

.signHeader {
  color: white;
  font-size: 0.8rem;
  font-family: Bangers;
  font-weight: 100;
  margin-top: 1vh;
}

.foodDiv {
  display: flex;
  flex-direction: row;
  height: 3vh;
  width: 9vw;
  justify-content: center;
  align-items: center;
  gap: 0.4vw;
  margin-left: 0.55vw;
}

.foodIcon {
  height: 2.4vh;
}

.foodHeader {
  color: black;
  font-size: 0.8rem;
  font-family: Mogra;
  font-weight: 100;
  margin-top: 1vh;
}

.priceHeader {
  font-size: 1rem;
  font-family: Teko;
  color: black;
}

.priceParagraph {
  font-size: 1.4rem;
  font-family: Teko;
  color: rgb(51, 163, 255);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.55);
  margin-bottom: 2vh;
}

.priceDiv {
  display: flex;
  flex-direction: row;
  height: 3vh;
  gap: 0.5vw;
  justify-content: center;
  align-items: center;
  margin-top: 1.5vh;
}

.viewDetailsBtn {
  border: 1px solid black;
  background-color: orangered;
  color: white;
  font-family: cursive;
  width: 55%;
  margin-left: 3.6vw;
  margin-top: 1vh;
  font-weight: 600;
}

.viewDetailsBtn:hover {
  background-color: red;
  border: 1px solid black;
}

.shoppingCartIconDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2.5vh;
  height: 5vh;
}

.cartCount {
  background-color: rgb(51, 163, 255);
  font-size: 1rem;
  width: fit-content;
  padding-top: 0.3vh;
  padding-right: 0.6vh;
  padding-bottom: 0.3vh;
  padding-left: 0.6vh;
  margin-top: -0.3vh;
  margin-left: 2vh;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  .mainHeaderDiv {
    flex-direction: column;
    height: 18vh;
    gap: 0;
  }

  .airplaneImage {
    height: 5vh;
  }
  .mainHeaderText {
    font-size: 1.2rem;
  }
  .mainHeaderParagraph {
    font-size: 1rem;
  }

  .destinationHeader {
    font-size: 0.8rem;
    padding: 0;
    width: max-content;
  }
  .destinationsDiv {
    margin-left: 0;
    gap: 5vw;
  }

  .shoppingCartDiv {
    display: flex;
    position: absolute;
    right: 1vh;
    top: 1vh;
  }

  .homeBtn {
    display: none;
  }

  .logoDiv {
    margin-top: 0;
  }

  .homePageImg {
    height: 70vh;
    width: 99vw;
  }

  .descriptionDiv {
    top: 20vh;
    left: 7vh;
  }

  .descriptionHeader {
    font-size: 2rem;
  }

  .descriptionParagraph {
    font-size: 1.2rem;
  }

  .imageContainer {
    height: 90vh;
    width: 100vw;
  }

  .listOfDestinationsDiv {
    width: 20vw;
    top: 16vh;
    margin-top: 2vh;
    gap: 10vw;
  }

  .countryNames {
    font-size: 0.5rem;
    margin-top: 1vh;
  }

  .countryImg {
    height: 2vh;
  }

  .listHeader {
    top: 17vh;
    font-size: 1rem;
    left: 22vw;
  }

  .shoppingListDiv {
    top: 23vh;
    width: 72vw;
    height: fit-content;
    left: 24vw;
    flex-direction: column;
    align-items: center;
  }

  .greeceDestination {
    width: 60vw;
  }

  .italyCapitalDestination {
    width: 60vw;
  }

  .capitalDestination {
    width: 60vw;
  }

  .italyCapitalDestination {
    width: 60vw;
  }

  .italyDestination {
    width: 60vw;
  }

  .turkeyCapitalDestination {
    width: 60vw;
  }

  .turkeyDestination {
    width: 60vw;
  }

  .egyptDestination {
    width: 60vw;
  }

  .montenegroDestination {
    width: 60vw;
  }

  .spainDestination {
    width: 60vw;
  }

  .signDiv {
    width: 16vw;
    gap: 1vw;
    display: none;
  }

  .signHeader {
    margin-top: 1.6vh;
  }

  .destinationName {
    font-size: 1rem;
    margin-left: 1vw;
  }

  .calenderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    width: 20vw;
  }

  .transportDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
    width: 20vw;
  }

  .mainDescriptionDiv {
    margin-top: 0;
    gap: 9vw;
  }

  .numberOfDays {
    margin-top: 2vh;
  }

  .transportName {
    margin-top: 2vh;
  }

  .foodDiv {
    width: 47vw;
    gap: 1vw;
  }

  .foodHeader {
    margin-top: 1.5vh;
  }

  .priceDiv {
    gap: 1.5vw;
  }

  .viewDetailsBtn {
    width: 36vw;
    font-size: 0.8rem;
    height: 4vh;
    margin-left: 12vw;
  }

  .signDivSecond {
    display: none;
  }

  .mainDownDiv {
    display: none;
  }

  .greekImg {
    width: 60vw;
  }


}